.main
    display: flex
    align-items: center
    gap: 4px
    margin: 8px
    // background: coral
.home
    width: 1.5rem
    height: 1.5rem
.image
    display: inline-block
.gt
    color: gray
.link
    padding: 0 4px
    &:hover
        color: orangered
