.container
    position: relative
    display: grid
    place-items: center
    & svg
        width: 2rem
        height: 2rem
.value
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px
    top: -16px
    right: -14px
    color: white
    background: orangered
    border-radius: 50%

