.cartContainer
    flex: 1 1 auto
    padding: 16px
    display: flex
    gap: 8px
.items
    flex: 1 1 auto
.amount
    flex: 0 0 12rem

.cartItemsContainer
    display: flex
    flex-flow: column
    gap: 4px
.total
    background: darkgray
    border-radius: 16px
    padding: 8px
    margin-bottom: 8px
    height: fit-content
    min-height: 8rem
    &Price
        display: flex
        justify-content: space-between
        align-items: center
        padding: 4px 0
        &Title
            color: white
        &Amount
            font-size: 1.5rem
            font-weight: bold
.payment
    padding: 8px 16px
    border-radius: 8px
    font-size: 1.5rem
    border: none
    width: 100%
    &Off
        background: white
        color: darkgray
    &On
        background: white
        color: black
        &:hover
            cursor: pointer
            color: white
            background: orangered
.title
    font-size: 1.8rem
    color: gray
    padding: 1rem 0

@media (min-width: 1200px)
    .cartContainer
        width: 1180px
        margin: auto
        box-shadow: 0px 1px 49px 0px rgba(51, 100, 139, 0.2)
