.cartContainer
    flex: 1 1 auto
    padding: 16px
.cartItemsContainer
    display: flex
    flex-flow: column
    gap: 4px
.total
    display: flex
    justify-content: space-between
    align-items: center
    padding: 16px 0
    &Title
        color: gray
    &Price
        font-size: 1.5rem
        font-weight: bold
.payment
    padding: 8px 16px
    border-radius: 8px
    font-size: 1.5rem
    border: none
    &Off
        background: lightblue
        color: darkgrey
    &On
        background: coral
        color: white
        &:hover
            cursor: pointer
            background: orangered
.title
    font-size: 1.8rem
    color: gray
    padding: 1rem 0

@media (min-width: 1200px)
    .cartContainer
        width: 1180px
        margin: auto
        box-shadow: 0px 1px 49px 0px rgba(51, 100, 139, 0.2)
