.main
    padding: 8px
.layout
    display: flex
    gap: 8px
.leftmenu
    flex: 0 0 10rem
.leftmenu ul div
    list-style-type: none
    font-size: 1.2rem
    line-height: 2.5rem
    padding: 0 8px
    &:hover
        background: #80808014
        cursor: pointer
        color: orangered
        font-weight: bold
        cursor: pointer
.center
    flex: 1 1 80%
    max-height: 35rem
    aspect-ratio: 16/9
    background: tomato
    border-radius: 1rem
    overflow: hidden
    & img
        object-fit: cover
        width: 100%
        height: 100%

@media (min-width: 1200px)
    .main
        width: 1180px
        margin: auto
        box-shadow: 0px 1px 49px 0px rgba(51, 100, 139, 0.2)
